export(add_palette)
export(get_palette)
export(list_palettes)
export(palettes)
export(palettes_show)
export(preview_palette)
export(register_palette)
export(scale_color_palettes)
export(scale_color_palettes_continuous)
export(scale_fill_palettes)
export(scale_fill_palettes_continuous)
export(validate_palette)
export(as_palette)
S3method(print, palettes_palette)
importFrom(grDevices, colorRampPalette)
importFrom(ggplot2, discrete_scale)
importFrom(ggplot2, scale_color_gradientn)
importFrom(ggplot2, scale_fill_gradientn)
